<h3>专题列表</h3>
<admin:panel >
  <admin:table id="table" show="编号|50,名称,类型|80,排序|80,操作|130"  class="m-table-border">
    <foreach name="list" item="vo">
      <tr>
        <td>{$vo.special_id}</td>
        <td><a href="{""}" target="_blank">{$vo.s_title}</a></td>
        <td>""</td>
        <td>""</td>
        <td>
        <a class="u-btn u-btn-primary u-btn-small" href="{:U('Special/AdminSpecial/edit',array('special_id'=>$vo['special_id']))}">修改</a>
        <a class="u-btn u-btn-danger u-btn-small del" href="javascript:;" url="{:U('Special/AdminSpecial/del')}" data="{$vo.special_id}" data="">删除</a>
        </td>
      </tr>
    </foreach>
  </admin:table>
</admin:panel>
<script>
Do.ready('base',function() {
  $('#table').duxTable({});
});
</script> 
